.cards-container {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  .card-content {
    h2 {
      font-family: $font-family-heading;
      font-size: 1.6rem;
    }
  }
}

.card-lifted {
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  box-shadow: 0 1px 18px rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 20px;
}
